<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
</head>
<body>
  <div id="header_div">
      <div style="flex-grow: 1;">
        <a href="/">home</a>
      </div>
      <div style="flex-grow: 1;">
        <a href="get">get</a>
      </div>
      <div style="flex-grow: 1;">
        <a href="LogIn">Log In</a>
      </div>
      <div style="flex-grow: 1;">
        <a href="SignUp">Sign Up</a>
      </div>
      <div style="flex-grow: 2;">
        <a href="profile">Edit profile</a>
      </div>
  </div>

  <h1 id="doiknowyou" style="display: block;">Do I know you?</h1>
  <h1 id="Iknowyou" style="display: none;"></h1>
  
  <button onclick="LU()">Log out</button>

  <script src="{{url_for('static', filename='getcookie.js')}}"></script>
  <script src="{{url_for('static', filename='logout.js')}}"></script>
  <script src="{{url_for('static', filename='DINY.js')}}"></script>
  <script src="{{url_for('static', filename='mainpage.js')}}"></script>
</body>
</html>