<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>

  <link rel="icon" href="static/icon/favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="apple-touch-icon" href="static/icon/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/static/icon/site.webmanifest">

  <link rel="stylesheet" href="static/css/Header.css">
  <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
  <div class="header">
    <a href="/" class="logo"><img src="static/icon/android-chrome-192x192.png"></a>
      <div class="header-right">
        <a href="LogIn" class="IDKYB">Log In</a>
        <a href="SignUp" class="IDKYB">Sign Up</a>
        <div class="dropdown">
          <a href="/profile" class="IKUText dropbtn" id="UsernameText"></a>
          <div class="dropdown-content">
            <a href="/editprofile">Edit profile</a>
            <a href="#">Link 2</a>
            <a onclick="LU()" href="#">Log out</a>
          </div>
        </div>
      </div>
  </div>

  <a href="get">get</a>


  <script src="{{url_for('static', filename='js/getcookie.js')}}"></script>
  <script src="{{url_for('static', filename='js/logout.js')}}"></script>
  <script src="{{url_for('static', filename='js/DINY.js')}}"></script>
  <script src="{{url_for('static', filename='js/mainpage.js')}}"></script>
</body>
</html>