<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="icon" href="static/icon/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="static/icon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="static/icon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="static/icon/site.webmanifest">

    <link rel="stylesheet" href="/static/css/Header.css">
    <link rel="stylesheet" href="/static/css/Profile.css">
</head>
<body>
    <div class="header">
        <a href="/" class="logo"><img src="static/icon/android-chrome-192x192.png"></a>
          <div class="header-right">
            <a href="LogIn" class="IDKYB">Log In</a>
            <a href="SignUp" class="IDKYB">Sign Up</a>
            <div class="dropdown">
              <a href="/profile" class="IKUText dropbtn" id="UsernameText"></a>
              <div class="dropdown-content">
                <a href="/editprofile">Edit profile</a>
                <a href="#">Link 2</a>
                <a onclick="LU()" href="#">Log out</a>
              </div>
            </div>
          </div>
    </div>


    <div id="banner_conteiner">
    <div id="banner_box">
        <img src="static/images/Dbanner.png">
    </div>
    <div id="UnderBanner_box">
        <div id="UnderBanner_box_box">
        <div id="pfpbox">
            <div id="pfpbackgroundbox">
                <img id="mainPFP" class="Apfp" src="static/images/blank-profile-picture-973460_1280.webp">
            </div>
        </div>
        <div id="namebox"></div>
        <div id="bunsbox"></div>
        </div>
        <div id="UnderBanner_box_unerbox">

        </div>
    </div>
    <div id="underBannerLine">
        <div id="Line"></div>
    </div>
    </div>
    
    <script src="{{url_for('static', filename='js/DINY.js')}}"></script>
    <script src="{{url_for('static', filename='js/getcookie.js')}}"></script>
    <script src="{{url_for('static', filename='js/logout.js')}}"></script>
    <script src="{{url_for('static', filename='js/header.js')}}"></script>
    <script src="{{url_for('static', filename='js/profile.js')}}"></script>
</body>
</html>