<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <link rel="icon" href="static/icon/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="static/icon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="static/icon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="static/icon/site.webmanifest">
</head>
<body>
    this us sign up page

    <a href="/">go back to home</a>

    <br><br>

<form id="Form1" >

<input itemid="username1" type="text" id="username1" required placeholder="Enter Name"
oninvalid="this.setCustomValidity('Enter Username Here')"
oninput="this.setCustomValidity('')"/>

<input itemid="EmailA" type="text" id="EmailA" required placeholder="Enter Email address"
oninvalid="this.setCustomValidity('Enter User Email address Here')"
oninput="this.setCustomValidity('')"/>

    <input itemid="password1" type="text" id="password1" required placeholder="Enter password"
  oninvalid="this.setCustomValidity('Enter User password Here')"
  oninput="this.setCustomValidity('')"/>

  <input itemid="password2" type="text" id="password2" required placeholder="Confirm password"
  oninvalid="this.setCustomValidity('Confirm User password Here')"
  oninput="this.setCustomValidity('')"/>

    <input type="submit" />
</form>


<script src="{{url_for('static', filename='js/signup.js')}}"></script>
<script src="{{url_for('static', filename='js/sleep.js')}}"></script>
<script>
function submit1(){
passValue = document.getElementById("password1").value
passValue = document.getElementById("password2").value
UsernameValue = document.getElementById("username1").value
EmailValue = document.getElementById("EmailA").value
if (passValue == passValue){
    fetch(`/register?username=${UsernameValue}&Email=${EmailValue}&password=${passValue}`,{ method: "GET" }).then((response) => {
            response.text().then((txt) => {
                if (txt == 'You already have an account.') {
                    alert(txt)
                } else if (txt == 'Email is Invalid.') {
                    alert(txt)
                } else if (txt == 'Email is Used.') {
                    alert(txt)
                } else {
                        alert('successfully signed up.')
                        let TOKEN = txt;
                        document.cookie = "Token=" + TOKEN;
                        sleep(300)
                        window.location.href = '/Vemail';
                }
            })
        })    
} else {
    alert('passwords do not match.')
}
}
</script>

</body>
</html>